.container{
     margin-top: -15px
}
.head-message{
     display: flex;
     align-items: center;
     height: 80px;
     background-color: rgb(201, 201, 201);
     padding: 10px;
     justify-content: space-between;
}


.message-content{
     padding: 10px;
}

.left-side{
     font-size: .9em;
}

.left-side p{
     color: rgb(75, 75, 75);
}